In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("fifa.csv")

C:\Users\KLAUS\AppData\Local\Temp\ipykernel_25032\2483103979.py:1: DtypeWarning: Columns (14,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("fifa.csv")

In [3]:
df

,Name,Age,Nationality,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,...,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,Preferred Positions
0,Cristiano Ronaldo,32,Portugal,94,89,63,89,63,93,95,...,83,94,23,91,92,31,80,85,88,ST LW
1,L. Messi,30,Argentina,93,92,48,90,95,95,96,...,88,85,26,87,73,28,59,90,85,RW
2,Neymar,25,Brazil,92,94,56,96,82,95,92,...,81,80,33,90,78,24,53,80,83,LW
3,L. Suárez,30,Uruguay,92,88,78,86,60,91,83,...,83,87,38,77,89,45,80,84,88,ST
4,M. Neuer,31,Germany,92,58,29,52,35,48,70,...,55,25,11,61,44,10,83,70,11,GK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17976,A. Kelsey,17,England,46,24,16,38,26,12,23,...,19,19,10,32,28,11,50,26,6,GK
17977,B. Richardson,47,England,46,25,44,35,44,22,44,...,12,13,13,25,32,12,47,17,12,GK
17978,J. Young,17,Scotland,46,66,26,60,77,41,50,...,42,42,14,51,33,17,32,37,33,ST
17979,J. Lundstram,18,England,46,57,46,58,74,43,45,...,49,43,47,58,49,48,46,51,25,CM
17980,L. Sackey,18,Ghana,46,48,52,49,47,32,33,...,31,21,43,49,55,44,67,22,19,ST CB

In [4]:
df.shape

(17981, 39)

In [42]:
df.columns

Index(['Overall'], dtype='object')

In [6]:
df.set_index('Name', inplace = True)

In [7]:
df

,Age,Nationality,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,...,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,Preferred Positions
Name,,,,,,,,,,,,,,,,,,,,,
Cristiano Ronaldo,32,Portugal,94,89,63,89,63,93,95,85,...,83,94,23,91,92,31,80,85,88,ST LW
L. Messi,30,Argentina,93,92,48,90,95,95,96,77,...,88,85,26,87,73,28,59,90,85,RW
Neymar,25,Brazil,92,94,56,96,82,95,92,75,...,81,80,33,90,78,24,53,80,83,LW
L. Suárez,30,Uruguay,92,88,78,86,60,91,83,77,...,83,87,38,77,89,45,80,84,88,ST
M. Neuer,31,Germany,92,58,29,52,35,48,70,15,...,55,25,11,61,44,10,83,70,11,GK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A. Kelsey,17,England,46,24,16,38,26,12,23,14,...,19,19,10,32,28,11,50,26,6,GK
B. Richardson,47,England,46,25,44,35,44,22,44,11,...,12,13,13,25,32,12,47,17,12,GK
J. Young,17,Scotland,46,66,26,60,77,41,50,28,...,42,42,14,51,33,17,32,37,33,ST
J. Lundstram,18,England,46,57,46,58,74,43,45,34,...,49,43,47,58,49,48,46,51,25,CM
L. Sackey,18,Ghana,46,48,52,49,47,32,33,19,...,31,21,43,49,55,44,67,22,19,ST CB

In [8]:
df.head()

,Age,Nationality,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,...,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,Preferred Positions
Name,,,,,,,,,,,,,,,,,,,,,
Cristiano Ronaldo,32,Portugal,94,89,63,89,63,93,95,85,...,83,94,23,91,92,31,80,85,88,ST LW
L. Messi,30,Argentina,93,92,48,90,95,95,96,77,...,88,85,26,87,73,28,59,90,85,RW
Neymar,25,Brazil,92,94,56,96,82,95,92,75,...,81,80,33,90,78,24,53,80,83,LW
L. Suárez,30,Uruguay,92,88,78,86,60,91,83,77,...,83,87,38,77,89,45,80,84,88,ST
M. Neuer,31,Germany,92,58,29,52,35,48,70,15,...,55,25,11,61,44,10,83,70,11,GK

In [9]:
df.sort_values('Age',ascending=False, inplace=True)

In [10]:
df.head()

,Age,Nationality,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,...,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,Preferred Positions
Name,,,,,,,,,,,,,,,,,,,,,
B. Richardson,47,England,46,25,44,35,44,22,44,11,...,12,13,13,25,32,12,47,17,12,GK
E. El Hadary,44,Egypt,70,28,29,21,41,25,57,20,...,16,18,15,39,34,19,73,16,12,GK
O. Pérez,44,Mexico,71,60,26,69,69,23,50,19,...,26,24,11,57,41,12,66,40,13,GK
J. Walker,43,England,55,22,41,53,64,38,35,16,...,22,22,13,35,19,11,62,32,11,GK
D. Coyne,43,Wales,55,36,36,48,58,31,57,13,...,28,21,19,33,37,16,76,33,11,GK

In [11]:
older_better_df = df[(df['Age'] > 30) & (df['Overall'] > 90)]

In [12]:
older_better_df

,Age,Nationality,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,...,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,Preferred Positions
Name,,,,,,,,,,,,,,,,,,,,,
Cristiano Ronaldo,32,Portugal,94,89,63,89,63,93,95,85,...,83,94,23,91,92,31,80,85,88,ST LW
M. Neuer,31,Germany,92,58,29,52,35,48,70,15,...,55,25,11,61,44,10,83,70,11,GK

In [13]:
# creating columns
df['Rating Per Age'] =df['Overall'] / df['Age']
df['Rating Per Age'].head()

Name
B. Richardson    0.978723
E. El Hadary     1.590909
O. Pérez         1.613636
J. Walker        1.279070
D. Coyne         1.279070
Name: Rating Per Age, dtype: float64

In [14]:
df

,Age,Nationality,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,...,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,Preferred Positions,Rating Per Age
Name,,,,,,,,,,,,,,,,,,,,,
B. Richardson,47,England,46,25,44,35,44,22,44,11,...,13,13,25,32,12,47,17,12,GK,0.978723
E. El Hadary,44,Egypt,70,28,29,21,41,25,57,20,...,18,15,39,34,19,73,16,12,GK,1.590909
O. Pérez,44,Mexico,71,60,26,69,69,23,50,19,...,24,11,57,41,12,66,40,13,GK,1.613636
J. Walker,43,England,55,22,41,53,64,38,35,16,...,22,13,35,19,11,62,32,11,GK,1.279070
D. Coyne,43,Wales,55,36,36,48,58,31,57,13,...,21,19,33,37,16,76,33,11,GK,1.279070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E. Vignato,16,Italy,61,69,13,69,69,69,52,60,...,52,30,65,59,22,33,52,57,CAM,3.812500
L. Geertruida,16,Netherlands,59,72,47,54,66,58,31,49,...,29,57,63,45,62,61,26,27,RB CB,3.687500
M. Sprang,16,Germany,57,18,12,19,29,10,18,12,...,17,13,16,32,14,38,59,12,GK,3.562500
R. Strechie,16,Romania,54,64,51,63,61,52,47,43,...,52,50,61,61,54,62,53,28,CM,3.375000
K. Pierie,16,Netherlands,65,72,64,66,53,65,66,47,...,35,62,72,45,67,65,56,32,LB CB,4.062500

In [22]:
df.columns

Index(['Age', 'Nationality', 'Overall', 'Acceleration', 'Aggression',
       'Agility', 'Balance', 'Ball control', 'Composure', 'Crossing', 'Curve',
       'Dribbling', 'Finishing', 'Free kick accuracy', 'GK diving',
       'GK handling', 'GK kicking', 'GK positioning', 'GK reflexes',
       'Heading accuracy', 'Interceptions', 'Jumping', 'Long passing',
       'Long shots', 'Marking', 'Penalties', 'Positioning', 'Reactions',
       'Short passing', 'Shot power', 'Sliding tackle', 'Sprint speed',
       'Stamina', 'Standing tackle', 'Strength', 'Vision', 'Volleys',
       'Preferred Positions', 'Rating Per Age'],
      dtype='object')

In [17]:
# deleting columns

df = df.drop('Rating Per Age', axis=1)

In [18]:
df

,Age,Nationality,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,...,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,Preferred Positions
Name,,,,,,,,,,,,,,,,,,,,,
B. Richardson,47,England,46,25,44,35,44,22,44,11,...,12,13,13,25,32,12,47,17,12,GK
E. El Hadary,44,Egypt,70,28,29,21,41,25,57,20,...,16,18,15,39,34,19,73,16,12,GK
O. Pérez,44,Mexico,71,60,26,69,69,23,50,19,...,26,24,11,57,41,12,66,40,13,GK
J. Walker,43,England,55,22,41,53,64,38,35,16,...,22,22,13,35,19,11,62,32,11,GK
D. Coyne,43,Wales,55,36,36,48,58,31,57,13,...,28,21,19,33,37,16,76,33,11,GK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E. Vignato,16,Italy,61,69,13,69,69,69,52,60,...,68,52,30,65,59,22,33,52,57,CAM
L. Geertruida,16,Netherlands,59,72,47,54,66,58,31,49,...,60,29,57,63,45,62,61,26,27,RB CB
M. Sprang,16,Germany,57,18,12,19,29,10,18,12,...,19,17,13,16,32,14,38,59,12,GK
R. Strechie,16,Romania,54,64,51,63,61,52,47,43,...,60,52,50,61,61,54,62,53,28,CM
K. Pierie,16,Netherlands,65,72,64,66,53,65,66,47,...,68,35,62,72,45,67,65,56,32,LB CB

In [21]:
df = df.drop('K. Pierie')

In [22]:
df

,Age,Nationality,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,...,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,Preferred Positions
Name,,,,,,,,,,,,,,,,,,,,,
B. Richardson,47,England,46,25,44,35,44,22,44,11,...,12,13,13,25,32,12,47,17,12,GK
E. El Hadary,44,Egypt,70,28,29,21,41,25,57,20,...,16,18,15,39,34,19,73,16,12,GK
O. Pérez,44,Mexico,71,60,26,69,69,23,50,19,...,26,24,11,57,41,12,66,40,13,GK
J. Walker,43,England,55,22,41,53,64,38,35,16,...,22,22,13,35,19,11,62,32,11,GK
D. Coyne,43,Wales,55,36,36,48,58,31,57,13,...,28,21,19,33,37,16,76,33,11,GK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
V. Barbero,16,Argentina,54,73,34,76,77,48,52,52,...,50,51,25,75,60,25,42,48,50,RM
E. Vignato,16,Italy,61,69,13,69,69,69,52,60,...,68,52,30,65,59,22,33,52,57,CAM
L. Geertruida,16,Netherlands,59,72,47,54,66,58,31,49,...,60,29,57,63,45,62,61,26,27,RB CB
M. Sprang,16,Germany,57,18,12,19,29,10,18,12,...,19,17,13,16,32,14,38,59,12,GK
R. Strechie,16,Romania,54,64,51,63,61,52,47,43,...,60,52,50,61,61,54,62,53,28,CM

In [36]:
df.groupby('Age').mean().head()

     Overall
Age
16      57.9

In [39]:
df = df.groupby(['Age', 'Nationality']).mean(numeric_only=True).head()

In [40]:
df

                 Overall
Age Nationality
16  Argentina       56.0
    England         61.5
    France          54.0
    Germany         57.0
    Italy           61.0

In [34]:
df.columns

Index(['Overall'], dtype='object')