- Subseting and Sorting Data
- Grouping Data
- Data Types
- Handling Missing Data
- Duplicates
- Outliers

In [1]:
# loading the package
import pandas as pd

In [2]:
file = r'C:\Users\KLAUS\Desktop\JUPYTER\ALTSCHOOL-DS\workspace\Downloaded files\datasets\afcon-2023-final-squads-list.csv'

In [3]:
# load the data
df = pd.read_csv(file)

In [4]:
df.head(30)

,shirt_no.,name,jersey_name,position,birthdate,team,club,club_country
0,1,Signori Dominique Nymi António,Dominique,GK,25.07.1994,Angola,Etoile Carouge,Angola
1,2,Nurio Domingos Matias Fortuna,Nurio,DF,24.03.1995,Angola,Gent KK,Angola
2,3,Buatu Mananga Jonathan,Buatu,DF,27.09.1993,Angola,Valencinnes,Angola
3,4,Keliano Manuel,Keliano,MF,16.01.2003,Angola,Estrela da Amadora,Angola
4,5,Joaquim Marcos Cunga Balanga,Kinito,DF,13.03.1998,Angola,Atletico Petroleos de Luanda\n,Angola
5,6,Kialonda Gaspar,Gaspar,DF,27.09.1997,Angola,Estrela da Amadora,Angola
6,7,Deivi Miguel Vieira,Gilberto,FW,10.03.2001,Angola,Atlético Petróleos de Luand\n,Angola
7,8,Benedito Mambuene Mukendi,Beni,MF,21.05.2002,Angola,Casa Pia FC,Angola
8,9,Ambrósini António Cabaça\nSalvador,Zini,FW,03.07.2002,Angola,AEK FC,Angola
9,10,Jacinto Muondo Dala,Gelson,FW,13.07.1996,Angola,Al Wakrah,Angola
10,11,Felicio Mendes Joao,Milson,FW,12.10.1999,Angola,Maccabi Tel Aviv,Angola
11,12,Aldo Geraldo Manuel Monteiro,Kadu,GK,30.11.1994,Angola,Oliveira do Hospital,Angola
12,13,Corte Real Carneiro Augusto\nDe Jesus,To Carneiro,DF,05.11.1995,Angola,Atletico petrolios,Angola
13,14,Loide Antonio Augusto,Loide,DF,26.02.2000,Angola,Alanyaspor,Angola
14,15,Zito André Sebastiao Luvumbo,Luvumbo,FW,09.03.2002,Angola,Cagliari,Angola
15,16,Alfredo Kulembe Ribeiro,Fredy,MF,27.03.1990,Angola,Eyupspor,Angola
16,17,Bruno L. Pinto De Almeida Paz,Bruno Paz,MF,23.04.1998,Angola,Konyasport,Angola
17,18,Jérémie Bela,Bela,FW,08.04.1993,Angola,Clermont Foot,France
18,19,Cristovao Paciencia,Mabululu,FW,01.06.1992,Angola,Al Ittihad Alexandria,Angola
19,20,Valdmiro Tualungo Paulo\nLameira,Estrela,MF,22.09.1995,Angola,Erzurumspor,Angola
20,21,Eddie Marcos Melo Afonso,Eddie,DF,07.03.1994,Angola,atletico petroleos de luanda\n,Angola
21,22,Adilson Da Cruz Cipriano,Neblu,GK,16.12.1993,Angola,Clube Desportivo 1 de Agosto\n,Angola
22,23,Manuel Luis Da Silva Cafumana,Show,MF,06.03.1999,Angola,Macabi Haifa,Angola
23,24,Francisco Pedro Mangala,Gelson,GK,08.07.1999,Angola,GD Interclube,Angola
24,25,Inacio Miguel Ferreira Dos\nSantos,Inácio,DF,12.12.1995,Angola,atletico petroleos de luanda\n,Angola
25,26,Laurindo Dilson Maria Aurelio,Depu,FW,08.01.2000,Angola,Gil Vicente,Angola
26,27,Francisco Gonçalves Sacalumbo,Banza,FW,17.12.1998,Angola,Anorthosis,Angola
27,1,Moustafa Zeghba,ZEGHBA,GK,21.11.1990,Algeria,Damac F.C,Arabie Saoudite
28,2,Aissa Mandi,MANDI,DF,22.10.1991,Algeria,VILLARREAL CF,Espagne
29,3,Kevin Daniel Guiton Van\nKerkhouf,Guiton,DF,14.03.1996,Algeria,F.C.Metz,France

- Subseting and Sorting Data

In [ ]:
# take a part of the dataframe: rows, columns
# iloc, loc, dot, square brackets

# df.iloc[rows, columns]
df.iloc[0:27, :]

In [ ]:
df.iloc[0:27, [1, 4, 5]]

In [ ]:
df.loc[0:27, ['team', 'club_country']]

In [ ]:
print(df.shape)
df.info()

In [ ]:
df.describe(include='all')

In [ ]:
from datetime import datetime
df['birthdate'] = pd.to_datetime(df['birthdate'], errors='coerce') #format="%Y-%m.%d")#1994-07-25

df['age'] = (datetime.now() - df['birthdate']).dt.days//365

In [ ]:
df.head()

In [ ]:
# count number of defenders
df[df.position == 'DF']

- Grouping Data

In [ ]:
# Aggregate Data, Apply Functions, Data Exploration
# groupby

In [ ]:
df.groupby('team')['age'].max().sort_values(ascending = False)

In [ ]:
df.groupby('team')['age'].min().sort_values(ascending = True)

In [ ]:
df[df.age == 40]

In [ ]:
df.age.min()

In [ ]:
df[df.age == df.age.min()]

- Data Types

In [ ]:
df.info()

In [ ]:
# handling missing values

# isna() isnull() notnull()

df.isna().sum()

In [ ]:
# for those players without a club. 
df.club.fillna('Free Agents', inplace=True)

after executing this line of code, any missing values in the 'club' column of the DataFrame df will be replaced with 'Free Agents', and the changes will be applied directly to df

In [ ]:
df.isna().sum()

In [ ]:
df.club_country.fillna('No Clubs', inplace=True)

In [ ]:
df.isnull().sum()

In [1]:
# duplicate values

df[df.duplicated(subset='jersey_name')]

NameError: name 'df' is not defined

In [ ]:
df[df.duplicated(subset='birthdate')]

In [ ]:
df[df.birthdate == '1998-03-13']

In [ ]:
df['club'] = df['club'].str.strip()

In [ ]:
df[df.birthdate == '1998-03-13']

In [ ]:
df.age.describe()

- Variance: Variance is the average of the squared differences from the Mean. It gives an idea of how much the data values differ from the mean. Mathematically, it's calculated as follows:

  - Calculate the mean (average) of the dataset.
   - Subtract the mean from each data point, square the result.
    - Find the average of those squared differences.

In [ ]:
age_list = df.age.tolist()

In [ ]:
df.age.mean()

In [ ]:
age_list

In [ ]:
age_no_var = [29, 29, 29, 29, 29, 29, 29, 29, 29]
import numpy as np
data = np.array([age_no_var])
no_var = np.var(data)
print(no_var)

In [ ]:
data = np.array([age_list])
var = np.var(data)
print(var)

- What is standard deviation?

    A measure of how dispersed the data is in relation to the mean
    - Step 1: Find the mean.
    - Step 2: For each data point, find the square of its distance to the mean.
    - Step 3: Sum the values from Step 2.
    - Step 4: Divide by the number of data points.
    - Step 5: Take the square root

In [ ]:
df.age.std()

In [ ]:
df.age.hist(bins=10)

-  1 Standard Deviation from the Mean: 68 percent.
-  2 Standard Deviations from the Mean: 95 percent.
-  3 Standard Deviations from the Mean: 99.7 percent.

In [ ]:
# outliers 

mean = round(df.age.mean(), 2)
std = round(df.age.std(), 2)

In [ ]:
print(mean)
print(std)

In [ ]:
one_std = (mean+std, mean-std)

In [ ]:
one_std

In [ ]:
two_std = (mean+(std*2), mean-(std*2))

In [ ]:
two_std

In [ ]:
three_std = (mean+(std*3), mean-(std*3))

In [ ]:
three_std

In [ ]:
def remove_outliers(df, column, threshold=3):
    mean = df[column].mean()
    std_dev = df[column].std()
    
    lower_bound = mean - threshold * std_dev #PEMDAS
    upper_bound = mean + threshold * std_dev
    # remove outliers
    
    df = df[(df[column]>= lower_bound) & (df[column]<= upper_bound)]
    return df

In [ ]:
df_cleaned = remove_outliers(df, 'age', 2)

In [ ]:
df_cleaned.shape

In [ ]:
removed_rows = df[~df.index.isin(df_cleaned.index)]

In [ ]:
removed_rows

In [ ]:
# Treating outliers using the IQR (interquartile range)
import pandas as pd
path = r"C:\Users\Gideon\Desktop\winequality-red.csv"
wine_data = pd.read_csv(path)

wine_data.head()

In [ ]:
wine_data.info()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# checking for outliers
plt.figure(figsize= (18, 20)) # set figure size
for i in range(len(wine_data.columns)):
    plt.subplot(4, 3, i+1) # creates a subplot
    sns.boxplot(x = wine_data.iloc[:, i])
    plt.xlabel(wine_data.columns[i], size=15)

In [ ]:
print(wine_data['sulphates'].quantile(0.25))
print(wine_data['sulphates'].quantile(0.75))

In [ ]:
wine_data['sulphates'].plot(kind='density')

In [ ]:
def Outliers(df, col):
    IQ1 = df[col].quantile(0.25)
    IQ3 = df[col].quantile(0.75)
    IQR = IQ3 - IQ1
    
    lower_bound = IQ1 - 1.5 * IQR
    upper_bound = IQ3 + 1.5 * IQR
    index = df.index[(df[col] < lower_bound) | (df[col] > upper_bound)]
    return index

In [ ]:
wine_data.index

In [ ]:
wine_data.shape

In [ ]:
index = []
for i in wine_data.columns:
    index.extend(Outliers(wine_data, i))
index = set(index)
#print(index)
print(f'Total number of outliers are {len(index)}')

# dropping all the outliers
wine_data.drop(index, inplace=True, axis=0)
wine_data.shape

In [ ]:
wine_data.columns

In [ ]:
!pip install scipy

In [ ]:
# 3. using the z-score

from scipy import stats
z_scores = stats.zscore(wine_data['chlorides'])

In [ ]:
print(z_scores)

In [ ]:
threshold = 0.5

df_filtered = wine_data['chlorides'][(z_scores < threshold)]

In [ ]:
df_filtered

In [ ]:
plt.figure(figsize= (18, 20)) # set figure size
for i in range(len(wine_data.columns)):
    plt.subplot(4, 3, i+1) # creates a subplot
    sns.kdeplot(x = wine_data.iloc[:, i])
    plt.xlabel(wine_data.columns[i], size=15)