In [ ]:
# Importing necessary libraries
import pandas as pd

In [ ]:
# Reading the CSV file into a DataFrame
file = r"C:\Users\Gideon\Downloads\ds_salaries.csv"
df = pd.read_csv(file)

In [ ]:
# Displaying the first few rows of the DataFrame
df.head()

In [ ]:
# Displaying information about the DataFrame, including data types and non-null counts
df.info()

In [ ]:
# Displaying the column names in the DataFrame
df.columns

In [ ]:
# Checking the count of missing values in each column
df.isna().sum()

In [ ]:
# Unique values in the 'work_year' column
df.work_year.unique()

In [ ]:
# Unique values in the 'experience_level' column
df.experience_level.unique()

### Subsetting Data:
1. Selecting Specific Columns:

Method: df[['column1', 'column2']] or df.loc[:, ['column1', 'column2']]
Example:

In [ ]:
# 1. Selecting specific columns: 'work_year', 'job_title', 'salary'
selected_columns = df[['work_year', 'job_title', 'salary']]

In [ ]:
selected_columns

Difference between a series and a dataframe

In [ ]:
# Difference between a series and a dataframe
# (Note: A DataFrame is a 2D table, while a Series is a 1D labeled array.)

2. Selecting Rows Based on Conditions:

Method: Boolean indexing
Example:

In [ ]:
# 2. Selecting rows based on conditions (e.g., high salary jobs)
high_salary_jobs = df[df['salary_in_usd'] > 80000]

In [ ]:
high_salary_jobs

### Filtering Data:
1. Filtering Rows Based on Multiple Conditions:

Method: Use logical operators (&, |, ~)
Example:

In [ ]:
# (e.g., Senior-level jobs with salary > 80000)
filtered_data = df[(df['experience_level'] == 'Senior') & (df['salary_in_usd'] > 80000)]

In [ ]:
filtered_data

2. Filtering Rows Based on String Matching:

Method: str.contains()
Example:

In [ ]:
# (e.g., jobs with 'Remote' in employment type)
remote_jobs = df[df['employment_type'].str.contains('Remote', case=False, na=False)]

### Grouping Data:
1. Grouping by Categorical Variable:

Method: groupby()
Example:

In [ ]:
#  (e.g., experience_level)
average_salary_by_level = df.groupby('experience_level')['salary_in_usd'].mean()

2. Aggregating Data within Groups:

Method: groupby() with aggregation functions
Example:

In [ ]:
stats_by_job = df.groupby('job_title').agg({'salary_in_usd': ['mean', 'median'], 'work_year': 'count'})

In [ ]:
stats_by_job.sort_values(('salary_in_usd', 'mean'), ascending=False)

- Mean Salary by Job Title:
    The mean salary for each job title gives you an overall idea of the average compensation associated with each position.
    
- Median Salary by Job Title:
    The median salary provides a measure of central tendency that is less affected by outliers. It can be valuable to understand the typical salary distribution within each job title.
    
- Number of Employees (Work Years) by Job Title:
    The count of work years gives insight into how many employees are associated with each job title. This can be crucial for understanding the workforce distribution.
    
- Comparison of Mean and Median:
    The comparison between mean and median salaries can indicate the presence of salary outliers within specific job titles. A significant difference between mean and median might suggest skewed salary distributions.
    
- Identifying High and Low-Paying Job Titles:
    Job titles with a higher mean or median salary might be considered higher-paying positions, while those with lower values could be lower-paying roles.
    
- Variability in Salaries:
    The spread between mean and median, as well as the distribution of work years, can provide insights into the variability of salaries across different job titles.
    
- Identifying Anomalies or Outliers:
    Extreme values in mean or median salaries may indicate anomalies or outliers that could be explored further.

Make the categories in experience level and employment type columns more spelt out, eg MI = mid level/ intermediate.

In [ ]:
# Updating categories in 'experience_level' column
df['experience_level'] = df['experience_level'].replace('EN','Entry-level/Junior')
df['experience_level'] = df['experience_level'].replace('MI','Mid-level/Intermediate')
df['experience_level'] = df['experience_level'].replace('SE','Senior-level/Expert')
df['experience_level'] = df['experience_level'].replace('EX','Executive-level/Director')

In [ ]:
# Or Mapping old names to new names for the 'Category' column
category_mapping = {'EN': 'Entry-level/Junior', 'MI': 'Mid-level/Intermediate', 'SE': 'Senior-level/Expert'}
df['experience_level'] = df['experience_level'].map(category_mapping)

In [ ]:
# Checking unique values and their counts in 'remote_ratio' column
df.remote_ratio.unique()

In [ ]:
df.remote_ratio.value_counts()

In [ ]:
df.employment_type.unique()

In [ ]:
df.employment_type.value_counts()

- TASK: change the variables in the employment type column:
    - 'FT' - 'Full time', 'CT'-'Contract', 'PT'-'Part Time', 'FL'-'Freelance'