In [19]:
import numpy as np

In [20]:
import pandas as pd

In [21]:
supermarket_Data = [
    {'transactionID': 1, 'product': 'milk', 'price': 3},
    {'transactionID': 2, 'product': 'groceries', 'price': 6},
    {'transactionID': 3, 'product': None, 'price': 9},
    {'transactionID': 4, 'product': 'bread', 'price': 12},
    {'transactionID': 5, 'product': 'whiskey', 'price': 15},
    {'transactionID': 5, 'product': 'whiskey', 'price': 15},
    {'transactionID': 1, 'product': 'milk', 'price': 3},
    
    
]

In [22]:
#total number of orders

count = len(supermarket_Data)

In [23]:
count

7

In [24]:
#average order value
totalP = 0
for price in supermarket_Data:
    totalP += price['price']
average = totalP / count

In [25]:
average

9.0

In [26]:
total_order_value = 0
product_counts = {}

In [27]:
# total order value
for order in supermarket_Data:
    total_order_value += order['price']
    product = order['product']
    if product in product_counts:
        product_counts[product] += 1
    else:
        product_counts[product] = 1

In [28]:
product_counts

{'milk': 2, 'groceries': 1, None: 1, 'bread': 1, 'whiskey': 2}

Data Cleaning:

Problem: Your dataset has misssing values in a column, write a python script to identify and can't the missing values in that column.

In [29]:
supermarket_Data = [
    {'transactionID': 1, 'product': 'milk', 'price': 3},
    {'transactionID': 2, 'product': 'groceries', 'price': 6},
    {'transactionID': 3, 'product': None, 'price': 9},
    {'transactionID': 4, 'product': 'bread', 'price': 12},
    {'transactionID': 5, 'product': 'whiskey', 'price': 15},
    {'transactionID': 5, 'product': 'whiskey', 'price': 15},
    {'transactionID': 8, 'product': None, 'price': 2}, 
    
]

In [30]:
colum_to_check = 'product'
missing_count = 0

In [31]:
for transaction in supermarket_Data:
    if transaction[colum_to_check] == None:
        missing_count += 1

In [32]:
missing_count

2

In [33]:
transactions_with_None = []

for transaction in supermarket_Data:
    if transaction[colum_to_check] == None:
        transactions_with_None.append(transaction)
for transaction in transactions_with_None:
    print(transaction)

{'transactionID': 3, 'product': None, 'price': 9}
{'transactionID': 8, 'product': None, 'price': 2}

In [34]:
transactions_with_None

[{'transactionID': 3, 'product': None, 'price': 9},
 {'transactionID': 8, 'product': None, 'price': 2}]

Data Preprocessing:

Problem: You have a dataset problem with a 'date' column in the format 'yyyy-mm-dd'. write a python function to extract the year and month from the date and store them in seperate lists.

In [35]:
dataset = [
    {'ID': 1, 'Date': '2023-04-15', 'Value': 42},
    {'ID': 2, 'Date': '2023-05-20', 'Value': 56},
    {'ID': 3, 'Date': '2023-04-02', 'Value': 34},
    {'ID': 4, 'Date': '2023-06-10', 'Value': 78},
    {'ID': 5, 'Date': '2023-05-12', 'Value': 65},
]

In [36]:
def extract_year_and_month(dataset, date_column):
    years = []
    months = []
    
    for entry in dataset:
        date = entry.get(date_column)
        if date:
            year, month, _ = date.split('-')
            years.append(year)
            months.append(month)
    return years, months

In [37]:
date = '2023-11-15-20:15'
year, month, _, _ = date.split('-')

In [38]:
years, months = extract_year_and_month(dataset, 'Date')

In [39]:
print(f'Years: {years}')
print(f'Months: {months}')

Years: ['2023', '2023', '2023', '2023', '2023']
Months: ['04', '05', '04', '06', '05']

Data Filtering and Transformation:

Problem: You have a list of student records as dictionaries. Filter the records of students who scored above a certain threshold and calculate their final grades.

In [40]:
student_records = [
    {'ID': 1, 'Name': 'Alice', 'Math_Score': 85, 'English_Score': 78},
    {'ID': 2, 'Name': 'Bob', 'Math_Score': 92, 'English_Score': 88},
    {'ID': 3, 'Name': 'Charlie', 'Math_Score': 78, 'English_Score': 95},
    {'ID': 4, 'Name': 'David', 'Math_Score': 65, 'English_Score': 72},
    {'ID': 5, 'Name': 'Eve', 'Math_Score': 89, 'English_Score': 91},
]
threshold = 80

In [41]:
student_score_atleast_80 = []

In [42]:
for student in student_records:
    if student['Math_Score'] and student['English_Score'] > threshold:
        student_score_atleast_80.append(student)

In [43]:
student_score_atleast_80

[{'ID': 2, 'Name': 'Bob', 'Math_Score': 92, 'English_Score': 88},
 {'ID': 3, 'Name': 'Charlie', 'Math_Score': 78, 'English_Score': 95},
 {'ID': 5, 'Name': 'Eve', 'Math_Score': 89, 'English_Score': 91}]

In [44]:
for student in student_score_atleast_80:
    student['total_Score'] = student['Math_Score'] + student['English_Score']

In [47]:
student_score_atleast_80

[{'ID': 2,
  'Name': 'Bob',
  'Math_Score': 92,
  'English_Score': 88,
  'total_Score': 180},
 {'ID': 3,
  'Name': 'Charlie',
  'Math_Score': 78,
  'English_Score': 95,
  'total_Score': 173},
 {'ID': 5,
  'Name': 'Eve',
  'Math_Score': 89,
  'English_Score': 91,
  'total_Score': 180}]