Build an inventory management systems

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
#Add product
def add_product():
    product_name = input('Enter product name: ')
    quantity = int(input('Enter quantity: '))
    price = float(input('Enter price per unit: '))
    
    with open('inentory_data.csv', 'a') as file:
        file.write(f'{product_name}, {quantity}, {price} \n')
        print(f'product {product_name} added successfully: \n')

#View Inventory
def view_inventory():
    try:
        df =pd.read_csv('inentory_data.csv', header=None, names=['Product Name', 'Quantity', 'Product'])
        if df.empty:
            print('No products in the inventory')
        else:
            print('\n')
            print('Inventory:')
            return df
    except FileNotFOundError:
        print('No products in the inventory')

#search for a product
def search_product():
    search_name = input('Enter the name of the product to search: ')
    df = view_inventory() 
    result = df[df['Product Name'].str.lower() ==search_name.lower()]
    
    if result.empty:
        print(f"No product with the name: '{search_name}'")
    else:
        print('product found')
        return result

In [4]:
add_product()
view_inventory()

Enter product name: macbookpro
Enter quantity: 1
Enter price per unit: 3500
product macbookpro added successfully:



Inventory:

  Product Name  Quantity   Product
0     Audu RS5         1   50000.0
1      Mahbach        15  155000.0
2  Lexus Rx350         1   50000.0
3          BMW         1   88000.0
4         benz         1  180000.0
5   macbookpro         1    3500.0

In [5]:
search_product()

Enter the name of the product to search: bmw


Inventory:
product found

  Product Name  Quantity  Product
3          BMW         1  88000.0

In [6]:
view_inventory()

Inventory:

  Product Name  Quantity   Product
0     Audu RS5         1   50000.0
1      Mahbach        15  155000.0
2  Lexus Rx350         1   50000.0
3          BMW         1   88000.0
4         benz         1  180000.0
5   macbookpro         1    3500.0

In [7]:
#search product 2
def search_product2():
    search_name = input('Enter the name of the product to search: ')
    try:
        df =pd.read_csv('inentory_data.csv', header=None, names=['Product Name', 'Quantity', 'Product'])
       
        result = df[df['Product Name'].str.lower() ==search_name.lower()]
    
        if result.empty:
            
            print(f"No product with the name: '{search_name}'")
        else:
            
            print('product found')
            return result
    except FileNotFOundError:
        print('No products in the inventory')

In [8]:
search_product2()

Enter the name of the product to search: bmw
product found

  Product Name  Quantity  Product
3          BMW         1  88000.0

In [9]:
#regular expression: search with only part of the name

In [12]:
while True:
    print("\nInventory Management System")
    print("1. Add Product")
    print("2. View Product")
    print("3. Search Product")
    print("4. Exit")
    
    choice = input("Enter your choice from (1-4): ")
    if choice == '1':
        add_product()
    elif choice == '2':
        view_inventory()
    elif choice == '3':
        search_product()
    elif choice == '4':
        break
    else:
        print('Invalid choice. please enter a number between and 4.')

Inventory Management System
1. Add Product
2. View Product
3. Search Product
4. Exit
Enter your choice from (1-4): 4

In [11]:
view_inventory()

Inventory:

  Product Name  Quantity   Product
0     Audu RS5         1   50000.0
1      Mahbach        15  155000.0
2  Lexus Rx350         1   50000.0
3          BMW         1   88000.0
4         benz         1  180000.0
5   macbookpro         1    3500.0
6     iphone15         1    1500.0