In [3]:
import pandas as pd

In [4]:
import numpy as np

In [15]:
#data
list_df = [[32, 'Portugal', 94], [30, 'Argentina', 93], [25, 'Brazil', 92]]

In [6]:
#index
index = ['Cristiano Ronaldo', 'Lionel Messi', 'Neymer']

In [7]:
columns = ['Age', 'Natinality', 'Overall']

In [10]:
# create a dataframe
pd.DataFrame(data = list_df, index= index, columns = columns)

                   Age Natinality  Overall
Cristiano Ronaldo   32   Portugal       94
Lionel Messi        30  Argentina       93
Neymer              25     Brazil       92

In [14]:
dict_df = {'Age': [32, 30, 25], 'Nationality': ['Portugal', 'Argentina', 'Brazil'], 'Overall':[93,92,90]}

index = ['Cristiano Ronaldo', 'Lionel Messi', 'Neymer']

pd.DataFrame(dict_df, index=index)

                   Age Nationality  Overall
Cristiano Ronaldo   32    Portugal       93
Lionel Messi        30   Argentina       92
Neymer              25      Brazil       90

In [18]:
array_df = np.array([[32, 'Portugal', 94], [30, 'Argentina', 93], [25, 'Brazil', 92]])

index = ['Cristiano Ronaldo', 'Lionel Messi', 'Neymer']

columns = ['Age', 'Natinality', 'Overall']
pd.DataFrame(data = array_df, index= index, columns = columns)

                  Age Natinality Overall
Cristiano Ronaldo  32   Portugal      94
Lionel Messi       30  Argentina      93
Neymer             25     Brazil      92

In [19]:
array_df

array([['32', 'Portugal', '94'],
       ['30', 'Argentina', '93'],
       ['25', 'Brazil', '92']], dtype='<U11')

In [ ]:
#looping through a dataframe

In [27]:
file = 'fifa.csv'

In [30]:
# loading data from csv
df = pd.read_csv(file, index_col = 'Name')

C:\Users\KLAUS\AppData\Local\Temp\ipykernel_16496\3363806840.py:2: DtypeWarning: Columns (14,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, index_col = 'Name')

In [31]:
df.head()

,Age,Nationality,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,...,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,Preferred Positions
Name,,,,,,,,,,,,,,,,,,,,,
Cristiano Ronaldo,32,Portugal,94,89,63,89,63,93,95,85,...,83,94,23,91,92,31,80,85,88,ST LW
L. Messi,30,Argentina,93,92,48,90,95,95,96,77,...,88,85,26,87,73,28,59,90,85,RW
Neymar,25,Brazil,92,94,56,96,82,95,92,75,...,81,80,33,90,78,24,53,80,83,LW
L. Suárez,30,Uruguay,92,88,78,86,60,91,83,77,...,83,87,38,77,89,45,80,84,88,ST
M. Neuer,31,Germany,92,58,29,52,35,48,70,15,...,55,25,11,61,44,10,83,70,11,GK