In [1]:
import data_mod

Enter your age: 15
Minor

In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\klaus\reptile\lib\site-packages (1.24.3)Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install jupyter_contrib_nbextensions

In [8]:
 from data_mod import calculate_sum

Enter a list of float values separated by commas: 4,6
10.0

In [2]:
# result = calculate_sum([4, 4, 5, 4])
# print(result)

In [ ]:
# try, except

In [7]:
num = input('Enter a number: ')
try:
    num = float(num)
    if num % 2 == 0:
        res = 'Even'
    else:
        res = 'Odd'
except:
    print(f'{num} is not a number, try again')
print(res)

Enter a number: 543
Odd

In [1]:
def triangle_type(a,b,c):
    if a and b and c != 0:
        if a == b == c:
            return 'equilateral triangle'
        elif a == b or a == c or c == b:
            return 'isosceles triangle'
        else:
            return 'scalence triangle'
    else:
        return ' cannot have a zero side'

In [4]:
triangle_type(5,5,5.0)

'equilateral triangle'

In [5]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1 ):
        if num % i == 0:
            return False
    return True

In [7]:
prime_numbers = [number for number in range(1, 51) if is_prime(number)]

In [8]:
prime_numbers

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]